html, body { 
  padding: 1em;
}

.logo {
  cursor: pointer;
  width: 80%;
  margin: 4rem 0 4rem 0;
}

.title {
  font-size: 2.5rem;
}

.header {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-control {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: lightgrey 2px solid;
  border-radius: 10px;
}

.form-control:hover{
  border: darkgray 2px solid;
}

.form-control:focus{
  border-radius: 10px;
  border: black 2px solid;
}

.form-control:focus-visible{
  outline: none;
}

.is-centered {
  text-align: center;
}

.gif-list {
  margin: 0.5em;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-box {
  margin: 0.5em;
  height: 400px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 5px 5px 5px whitesmoke;
}

@media only screen and (max-width: 768px) {
  .gif-box{
    width: 100%;
  }
}








